#root {
  text-align: center;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #fff4de;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 20px;
  border: 5px solid #fff4de; /* “espacio” visual alrededor */
  background-clip: content-box;
}
